* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  background:
    radial-gradient(circle at top left, rgba(43,188,255,0.2), transparent),
    radial-gradient(circle at bottom right, rgba(255,255,255,0.1), transparent),
    linear-gradient(135deg, #0a0a0a, #111);
  color: white;
}

#node_refresh {
  display: none;
  padding: 10px 20px;
  margin-left: 65%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: #2bbcff;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.node-box {
  max-height: 500px;
  overflow-y: auto;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  width: 80%;

  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.15);
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
}
.node-box h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 28px;
  text-align: center;
}

#pi_refresh {
  /*display: none;*/
  padding: 10px 20px;
  margin-left: 65%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: #2bbcff;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.pi-box {
  max-height: 500px;
  overflow-y: auto;
  margin: 20px 0;
  margin-left: 20px;
  width: 20%;

  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.15);
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
}
.pi-box h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 28px;
  text-align: center;
}

/* Tabelle */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  color: white;
}

/* Zeilen etwas höher für Dashboard Look */
td, th {
  padding: 14px 16px;
}

/* Linke Spalte (Labels) */
td:first-child {
  opacity: 0.7;
  width: 40%;
}

/* Rechte Spalte (Werte) */
td:last-child {
  font-weight: 500;
  text-align: right;
}

/* Trennlinien */
tr:not(:last-child) td {
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* Hover Effekt */
tr:hover td {
  background: rgba(255,255,255,0.04);
  transition: 0.2s ease;
}

/* Zebra (optional, sehr dezent) */
tr:nth-child(even) td {
  background: rgba(255,255,255,0.02);
}

/* Erste & letzte Zeile abrunden */
tr:first-child td:first-child {
  border-top-left-radius: 16px;
}
tr:first-child td:last-child {
  border-top-right-radius: 16px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 16px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 16px;
}

tr {
    text-align: center;
}