* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

:root {
  --bg: black;
  --text: white;
  --bg-main: rgba(255, 255, 255, 0.05);
  --rgba: rgba(255, 255, 255, 0.25);
}

[data-theme="light"] {
  --text: black;
  --bg: #afafaf;
  --bg-main: rgba(180, 180, 180, 0.75);
  --rgba: rgba(0, 0, 0, 0.50);
}

body {
  display: block;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
  background:
    radial-gradient(circle at top left, rgba(43, 188, 255, 0.18), transparent 30%),
    radial-gradient(circle at bottom right, rgba(255, 255, 255, 0.08), transparent 30%),
    linear-gradient(135deg, #0a0a0a, #252525 45%, #0d0d0d);
}

[data-theme="light"] body {
  background:
    radial-gradient(circle at top left, rgba(43, 188, 255, 0.18), transparent 30%),
    radial-gradient(circle at bottom right, rgba(255, 255, 255, 0.08), transparent 30%),
    linear-gradient(135deg, #9b9b9b, #9b9b9b 45%, #ffffff);
}

.background-shape {
  position: fixed;
  border-radius: 50%;
  filter: blur(40px);
  z-index: 0;
}

.shape1 {
  width: 220px;
  height: 220px;
  background: rgba(43, 188, 255, 0.18);
  top: 8%;
  left: 2%;
}
.shape2 {
  width: 260px;
  height: 260px;
  background: rgba(255, 255, 255, 0.08);
  bottom: 10%;
  right: 2%;
}
[data-theme="light"] .shape1 {
  width: 220px;
  height: 220px;
  background: rgba(0, 0, 0, 0.55);
  top: 8%;
  left: 10%;
}
[data-theme="light"] .shape2 {
  width: 260px;
  height: 260px;
  background: rgba(255, 255, 255, 0.55);
  bottom: 10%;
  right: 8%;
}

h1 {
  margin: 90px auto 0 auto; /* oben | rechts/links auto | unten */
  font-size: 25px;
  max-width: 600px;
  text-align: center;
  z-index: 1;
  max-width: 600px;
}

#welcome {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--text);
}

.main-box {
  max-height: 500px;
  overflow-y: auto;
  margin-top: 50px;
  margin-left: 2.5%; /* % muss bleiben */
  margin-bottom: 2.5%; /* % muss bleiben */
  width: 95%;

  border-radius: 30px;
  border: 2px solid var(--rgba);
  background: var(--bg-main);
  backdrop-filter: blur(12px);
}

.main-box h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 32px;
  text-align: center;
}

.main-box h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 28px;
  text-align: center;
}

.main-box p {
  font-weight: bold;
  font-size: large;
}

#message {
  margin-bottom: 15px;
  min-height: 20px;
  font-weight: 600;
}

button:hover {
  transform: translateY(-1px);
  background: rgba(84, 207, 255, 1);
}