/* Container */
.container {
  display: flex;
  justify-content: center;
  margin-top: 220px;
}

/* Glass Table */
.glass-table {
  width: 650px;
  border-collapse: collapse;

  /* mehr wie .welcome */
  background: rgba(255, 255, 255, 0.06);
  border-radius: 24px;
  overflow: hidden;

  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.12);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);

  color: white;
}

/* Header */
.glass-table thead {
  background: rgba(255, 255, 255, 0.08);
}

.glass-table th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: rgba(255,255,255,0.7);
}

/* Cells */
.glass-table th,
.glass-table td {
  padding: 16px;
  text-align: center;
  font-weight: 600;
}
.glass-table td a {
  color: #FF9900;
  font-weight: 600;
  text-decoration: none;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

/* Rows */
.glass-table tbody tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.25s ease;
}

/* Hover (DEIN STYLE mit Blurple) */
.glass-table tbody tr:hover {
  background: rgba(88, 101, 242, 0.18);
  transform: translateY(-2px);
}